<nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" [class.collapsed]="!openSidebar">
	<button class="toggle-btn" (click)="toggleSidebar()">
		<i><</i>
	</button>

	<div class="d-flex align-items-center mt-5 p-3">
		<img src="https://randomuser.me/api/portraits/women/70.jpg" style="height:70px" class="rounded-circle"
			alt="Profile">
		<div class="ms-3 profile-info">
			<h6 class="text-white fs-5 mb-0">Alex Morgan L.</h6>
			<small class="text-white fs-5">Admin</small>
		</div>
	</div>

	<div class="nav flex-column">
		<a href="#" class="sidebar-link active text-decoration-none short-on-collapse text-start p-3 fs-5">
			<i class="me-3">ES</i>
			<span class="hide-on-collapse">Estructura</span>
		</a>
		<a href="#" class="sidebar-link text-decoration-none short-on-collapse text-start p-3 fs-5">
			<i class="me-3">EM</i>
			<span class="hide-on-collapse">Empleados</span>
		</a>
		<a href="#" class="sidebar-link text-decoration-none short-on-collapse text-start p-3 fs-5">
			<i class="me-3">RE</i>
			<span class="hide-on-collapse">Reportes</span>
		</a>
		<a href="#" class="sidebar-link text-decoration-none short-on-collapse text-start p-3 fs-5">
			<i class="me-3 ">LO</i>
			<span class="hide-on-collapse">logs</span>
		</a>
		<a href="#" class="sidebar-link text-decoration-none short-on-collapse text-start p-3 fs-5">
			<i class="me-3">PE</i>
			<span class="hide-on-collapse">Permisos</span>
		</a>
	</div>
	<button type="button" class="btn btn-secondary mx-3 mt-3 fs-5 hide-on-collapse">Exit</button>
</nav>